body {
    margin: 0;
    padding: 0;
    background-color: #001f3f; /* Dark Blue */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.video-container {
    border: 5px solid white;
    border-radius: 10px;
    overflow: hidden;
    width: 640px;
    height: 480px;
}

#video-feed {
    width: 100%;
    height: 100%;
}
